.header {
    top: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    height: 60px;
    z-index: 1;
    background: #222f3f;
    .logo {
        font-size: 30px;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
    }
    .header-search {
        border-radius: 5px;
        height: 40px;
        &__input {
            height: 40px;
            border: none;
            outline: none;
            padding: 15px;
            width: 80%;
        }
        &__button {
            height: 40px;
            width: 20%;
            border: none;
            outline: none;
            background-color: #ffbe61;
        }
    }
}
